body {
    padding: 25px;
    background-color: blanchedalmond;
}

.tab-pane {
    padding: 10px;
}

#create {
    background-color: red;
}

#address {
    background-color: yellow;
}

#verify {
    background-color: green;
    color: aliceblue;
}

